<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> This is my first node.js-express project <br>
        Im using the view engine EJS <br>
        The tag "< %" is used in EJS to run code on the server <br>
        The message got from the server is: <br> 
        <%= 21+21 %> : <%= text %> <br>
        Following best practices: <%= locals.text || "Deafult" %>


    </p>

</body>
</html>